################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
publish/
node_modules/
.vs/
**WebManage/bin/
/Api/WebManage/bin/Debug/netcoreapp3.1
/Api/WebManage/obj/Debug/netcoreapp3.1/staticwebassets
